USE [master]
GO
/****** Object:  Database [FotoWorld]    Script Date: 06.02.2023 14:58:57 ******/
CREATE DATABASE [FotoWorld]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FotoWorld', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.YARIDSQL\MSSQL\DATA\FotoWorld.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FotoWorld_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.YARIDSQL\MSSQL\DATA\FotoWorld_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FotoWorld].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FotoWorld]
GO
/****** Object:  Table [dbo].[FollowedOffers]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FollowedOffers](
	[ID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[offerID] [int] NOT NULL,
 CONSTRAINT [PK_FollowedOffers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfferGalleries]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfferGalleries](
	[ID] [int] NOT NULL,
	[offerID] [int] NOT NULL,
	[photoID] [int] NOT NULL,
 CONSTRAINT [PK_OfferGalleries] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Offers]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Offers](
	[ID] [int] NOT NULL,
	[operatorID] [int] NOT NULL,
	[title] [nvarchar](150) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Offers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperatorRatings]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperatorRatings](
	[ID] [int] NOT NULL,
	[operatorID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[stars] [float] NOT NULL,
	[comment] [nvarchar](150) NULL,
 CONSTRAINT [PK_OperatorRatings] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operators]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operators](
	[ID] [int] NOT NULL,
	[username] [nvarchar](75) NOT NULL,
	[hashedPassword] [nvarchar](max) NOT NULL,
	[passwordSalt] [nvarchar](max) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phoneNumber] [nchar](20) NULL,
	[isCompany] [bit] NOT NULL,
	[availability] [nvarchar](50) NOT NULL,
	[locationCity] [nvarchar](75) NOT NULL,
	[operatingRadius] [int] NOT NULL,
	[services] [int] NOT NULL,
 CONSTRAINT [PK_Operators] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperatorServices]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperatorServices](
	[ID] [int] NOT NULL,
	[photo] [bit] NOT NULL,
	[dronePhoto] [bit] NOT NULL,
	[droneFilm] [bit] NOT NULL,
	[filming] [bit] NOT NULL,
 CONSTRAINT [PK_OperatorServices] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photos]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photos](
	[ID] [int] NOT NULL,
	[photoURL] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Photos] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06.02.2023 14:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[hashedPassword] [nvarchar](max) NOT NULL,
	[passwordSalt] [nvarchar](max) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phoneNumber] [nvarchar](20) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FollowedOffers]  WITH CHECK ADD  CONSTRAINT [FK_FollowedOffers_Offers] FOREIGN KEY([offerID])
REFERENCES [dbo].[Offers] ([ID])
GO
ALTER TABLE [dbo].[FollowedOffers] CHECK CONSTRAINT [FK_FollowedOffers_Offers]
GO
ALTER TABLE [dbo].[FollowedOffers]  WITH CHECK ADD  CONSTRAINT [FK_FollowedOffers_Users] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[FollowedOffers] CHECK CONSTRAINT [FK_FollowedOffers_Users]
GO
ALTER TABLE [dbo].[OfferGalleries]  WITH CHECK ADD  CONSTRAINT [FK_OfferGalleries_Offers] FOREIGN KEY([offerID])
REFERENCES [dbo].[Offers] ([ID])
GO
ALTER TABLE [dbo].[OfferGalleries] CHECK CONSTRAINT [FK_OfferGalleries_Offers]
GO
ALTER TABLE [dbo].[OfferGalleries]  WITH CHECK ADD  CONSTRAINT [FK_OfferGalleries_Photos] FOREIGN KEY([photoID])
REFERENCES [dbo].[Photos] ([ID])
GO
ALTER TABLE [dbo].[OfferGalleries] CHECK CONSTRAINT [FK_OfferGalleries_Photos]
GO
ALTER TABLE [dbo].[Offers]  WITH CHECK ADD  CONSTRAINT [FK_Offers_Operators] FOREIGN KEY([operatorID])
REFERENCES [dbo].[Operators] ([ID])
GO
ALTER TABLE [dbo].[Offers] CHECK CONSTRAINT [FK_Offers_Operators]
GO
ALTER TABLE [dbo].[OperatorRatings]  WITH CHECK ADD  CONSTRAINT [FK_OperatorRatings_OperatorRatings] FOREIGN KEY([operatorID])
REFERENCES [dbo].[Operators] ([ID])
GO
ALTER TABLE [dbo].[OperatorRatings] CHECK CONSTRAINT [FK_OperatorRatings_OperatorRatings]
GO
ALTER TABLE [dbo].[OperatorRatings]  WITH CHECK ADD  CONSTRAINT [FK_OperatorRatings_Users] FOREIGN KEY([userID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[OperatorRatings] CHECK CONSTRAINT [FK_OperatorRatings_Users]
GO
ALTER TABLE [dbo].[Operators]  WITH CHECK ADD  CONSTRAINT [FK_Operators_OperatorServices] FOREIGN KEY([services])
REFERENCES [dbo].[OperatorServices] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Operators] CHECK CONSTRAINT [FK_Operators_OperatorServices]
GO
USE [master]
GO
